*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmt
*.cmti
*.cmx
*.cmxs
*.cmxa
*.omc
*.opt
*.pyc
*.sw*
*.tar.gz
*.auto.mli

.omakedb
.omakedb.lock
.DS_Store
doc/ja/build
*.automaton
*.conflicts
*.dump
luli
luli-*
parser.ml
parser.mli
lexer.ml
version.ml
linterr_internal.ml
linterr_internal.mli
ini_lexer.ml
ini_parser.ml
ini_parser.mli
src/errorcode.rst
tmp
test/test-output
test/errorcode.py*
doc/source/errorcode.rst
